<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Poliedro - Redação</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Sistema de Ensino Poliedro</span>
      <span class="site-heading-lower">Redação Online</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/homeTeacher">Home
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/aboutTeacher">Como funciona</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/storeTeacher">Consultar Redações</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <img src="img/check.jpg" alt="" height="180" offset="50" outline="50" padding="100px" style="padding-left: 10em"> -->
    <section class="page-section about-heading">
      <div class="container">
        <!-- <img src="img/check.jpg" alt="" height="180" offset="50" outline="50" padding="100"> -->
        <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/check.jpg" alt=""> -->
        <img src="img/check.jpg" alt="" height="190" offset="50" outline="50" padding="100px" style="padding-left: 10em">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Correções Pendentes</span>
                  <span class="section-heading-lower">Consultar Redações</span>
                </h2>
                <!-- <p class="mb-0"> -->
                <p class="mb-0">Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <h2 class="section-heading mb-5">
      <center><span class="section-heading-upper">Redações aguardando correção</span></center>
      <center><span class="section-heading-lower"></span></center>
    </h2>
    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
      <li class="list-unstyled-item list-hours-item d-flex">
        Redação
        <span class="ml-auto">Baixar Redação</span>
      </li>

      <% composition.forEach(function(comp) { %>
        <li class="list-unstyled-item list-hours-item d-flex">
          <%= comp.type %> - <%= comp.week %> - <%= comp.studentEmail %>
          <span class="ml-auto"><a href=<%="/downloadComposition/" + comp.studentEmail + "/" + comp.week + "/" + comp.type %> >Download</a></span>
        </li>
      <% }) %>

      <!-- <li class="list-unstyled-item list-hours-item d-flex">
        ITA 7a_Sem 190762
        <span class="ml-auto"><a href="#">Download</a></span>
      </li>
      <li class="list-unstyled-item list-hours-item d-flex">
        Unicamp 7a_Sem 931919
        <span class="ml-auto"><a href="#">Download</a></span>
      </li>
      <li class="list-unstyled-item list-hours-item d-flex">
        FUVEST 7a_Sem 132744
        <span class="ml-auto"><a href="#">Download</a></span>
      </li>
      <li class="list-unstyled-item list-hours-item d-flex">
        FUVEST 8a_Sem 011922
        <span class="ml-auto"><a href="#">Download</a></span>
      </li>
      <li class="list-unstyled-item list-hours-item d-flex">
        USP 8a_Sem 831291
        <span class="ml-auto"><a href="#">Download</a></span>
      </li>
      <li class="list-unstyled-item list-hours-item d-flex">
        Enem 8a_Sem 903425
        <span class="ml-auto"><a href="#">Download</a></span>
      </li> -->
    </ul>
    <form method="POST" action="uploadCorrection" enctype="multipart/form-data" align="center">

      <br>
      <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
        <li class="list-unstyled-item list-hours-item d-flex">
          <a href="/goToPaintMode">Selecionar - </a> Redação do Computador
        </li>
      </ul>
      <br>

      <div class="wrap-input100 validate-input" data-validate="Name is required" align="center">
        <span class="label-input100">RM do aluno</span>
        <input class="input100" type="text" name="email" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>

      <div class="wrap-input100 validate-input" data-validate="Name is required" align="center">
        <span class="label-input100">Tipo da redação</span>
        <input class="input100" type="text" name="type" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>

      <div class="wrap-input100 validate-input" data-validate="Name is required" align="center">
        <span class="label-input100">Semana</span>
        <input class="input100" type="text" name="week" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>

      <div class="wrap-input100 validate-input" data-validate="Name is required" align="center">
        <span class="label-input100">Critério 1 ..</span>
        <input class="input100" type="text" name="grade1" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" align="center">
        <span class="label-input100">Critério 2 ..</span>
        <input class="input100" type="text" name="grade2" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Username is required" align="center" align="center">
        <span class="label-input100">Critério 3 ..</span>
        <input class="input100" type="text" name="grade3" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Username is required" align="center" align="center">
        <span class="label-input100">Critério 4 ..</span>
        <input class="input100" type="text" name="grade4" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Username is required" align="center" align="center">
        <span class="label-input100">Critério 5 ..</span>
        <input class="input100" type="text" name="grade5" placeholder="Nota ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Username is required" align="center" align="center">
        <span class="label-input100">Nota Final ..</span>
        <input class="input100" type="text" name="grade" placeholder="Nota Final ..">
        <span class="focus-input100"></span>
      </div>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Username is required" align="center" align="center">
        <span class="label-input100">Comentários</span>
        <!-- <input class="input100" type="text" name="comments" placeholder="Comentários" size = "50"> -->
        <center><textarea name="comments" rows="4" cols="50"></textarea></center>
        <span class="focus-input100"></span>
      </div>

      <br><br>

      <center><strong>Submeter Redação Corrigida:</strong></center>
      <center><input type="file" name="sampleFile" /></center>
      <center><input type="submit"  value="Upload"/></center>
    </form>
    <br><br>

    <p class="mb-0" align="center"><small>Last update on 05/20/2018</small></p>

    <br><br><br>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
