<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="assignCorrectors" name="assignCorrectors" method="post" action="assignCorrectors">
        <label for="week">Semana</label>
        <input class="text" name="week" type="text" />
        <label for="correctorEmail">RM do corretor</label>
        <input name="correctorEmail" type="text" />
        <input class="btn" type="submit" value="Associar" />
    </form>

</body>

</html>
