<form id="distribuir" name="distribuir" method="post" action="/assignCorrectors">
    <label for="email">RM do corretor</label>
    <input class="text" name="correctorEmail" type="text" />
    <label for="password">Semana da redacao</label>
    <input name="week" type="text" />
    <input class="btn" type="submit" value="Sign In" />
</form>
