<a href="/signupCorretor" class="btn btn-default">Cadastrar corretor</a>
<br>
<a href="/uploadForStudent" class="btn btn-default">Cadastrar redação</a>
<br>
<a href="/redacoesEntregues" class="btn btn-default">Consultar redações entregues</a>
<br>
<a href="/redacoesCorrigidas" class="btn btn-default">Consultar redações corrigidas</a>
<br>
<a href="/signupCorretor" class="btn btn-default">Consultar acesso de corretor</a>
<br>
<a href="/signupCorretor" class="btn btn-default">Distribuir blocos de redações</a>
