<a href="http://localhost:3000/signupAluno" class="btn btn-default">Aluno</a>
<br>
<a href="http://localhost:3000/signupCorretor" class="btn btn-default">Corretor</a>
<br>
<a href="http://localhost:3000/signupCoordenador" class="btn btn-default">Coordenador</a>
