<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">RM</label>
        <input class="text" name="email" type="text" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input type="text" name="role" value="corretor" class="field left" readonly>
        <input class="btn" type="submit" value="Sign Up" />
    </form>

</body>

</html>
